.imagem {
 
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 60px;
    border: 4px solid #4faf4c;   
   }

.imagem-container{
  text-align: center;
}


h1{
  
        font-size: 50px;
        color: #388e3c;
        text-align: center;
        margin-top: 40px;
        font-family: Arial, sans-serif;
        padding: 20px;
        border-radius: 12px;
        
      }

h2 {
        font-size: 30px;
        color: #388e3c; 
        margin-top: 40px;
        margin-bottom: 15px;
        font-family: Arial, sans-serif;
        padding-left: 12px;
        padding-right: 12px;
    }
      
h3 {
        font-size: 25px;
        color: #388e3c;
        margin-top: 25px;
        margin-bottom: 10px;
        font-family: Arial, sans-serif;
        text-align: left;
    }
      
h4 {
        font-size: 20px;
        color: #1b5e20;
        margin-top: 25px;
        font-family: Arial, sans-serif;
        font-style: italic;
        padding-left: 12px;
        padding-right: 12px;
    }
      
      body{
        padding-left: 60px;
        padding-right: 60px;
        background-color:#fff3dc;
        text-align: left;
        background-color: #e8f5e9; 
        background-image: url("/assets/IMG/ilustracao-vetorial-de-padrao-sutil-de-folhas-e-plantas_1000823-26663.png"); 
       
        
    }
main{
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;  
  font-family: Arial, sans-serif;
}

button {

  background-color: #0e8b35;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  }

button:hover {
  background-color: #2e7031; 
}

footer {
  background-color: #b4e691;  
  color: white;            
  text-align: center;      
  padding: 2px;
  margin-top: 20px;              
}

p {
  font-size: 20px;
  color: #000000;
  font-family: Arial, sans-serif;
  margin-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

.logo img{
  width: 90px; 
  height: auto;
  margin-bottom: 0px;
  flex: 1; 
  
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaça a logo e o menu de navegação */
  align-items: left; /* Alinha logo e menu verticalmente */
  padding: 20px;

}


header{
  background-color: #d5f4c4;
  color: white;
  padding: 30px;
  text-align: left;
  border-bottom: 2px solid #ccc;
  border-radius: 10px;
 


}

.title {
  flex: 2; /* Título ocupa mais espaço no centro */
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0px 15px; /* Adiciona espaço entre os links */
}

nav ul li a {
  background-color: #0e8b35;
            color: white;
            padding: 7px;
            border-radius: 15px;
            text-decoration: none;
            font-weight: bold;
            transition: 0.5s;
   
}

nav ul li a:hover {
  background-color: #096527;
}

audio {
  width: 100%;
  max-width: 600px;  /* Limita a largura máxima do player */
  margin: 20px auto;  /* Centraliza o player */
  display: block;  /* Faz o player ser tratado como um bloco */
  border-radius: 10px;  /* Borda arredondada */
  box-shadow: 0 4px 8px #baf998;  /* Sombra suave */
  background-color: rgb(77, 255, 0);  /* Fundo suave */
  padding: 10px;  /* Espaçamento interno */
}



